* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

h4 {
    font-size: 1.2rem;
}

header {
    padding: 20px 0;
    background-color: #3988d1;
    color: white;
    text-align: center;
}

main {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 14px;
    gap: 14px;
}

main article {
    padding: 20px;
}

main article:first-child {
    width: 35%;
}

main article:last-child {
    width: 65%;
}

.weather-cards-container {
    display: flex;
}

.search-form legend,
.search-form input,
.search-form .button-container {
    margin-bottom: 20px;
}

.search-form legend {
    font-size: 1.4rem;
    font-weight: bold;
}

.search-form input {
    width: 100%;
    padding: 10px;
    outline: none;
}

.search-form .button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.search-form .button-container .btn {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.current-weather {
    margin-top: 20px;
}

.current-weather small {
    font-size: 0.8rem;
}

.current-weather-details {
    margin-top: 30px;
}

.current-weather-details > div {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.current-weather-temp {
    align-items: center;
    margin-bottom: 30px;
}

.current-weather-temp span {
    font-size: 48px;
    font-weight: bold;
}

.current-weather-additional > div {
    text-align: center;
}

.current-weather-additional > div h4 {
    margin-bottom: 20px;
}

.current-weather-additional > div > div {
    font-size: 1.2rem;
}